body{
    background-color: bisque;
    
}
main{
    background-color: black;
    border-style: solid;
    border-radius: 15px;
    color: aliceblue;
}
h1{
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#mycolor{
    color: red;
}
#italic{
    font-style: italic;
}
.fonting{
    font-family: cursive;
    font-size: 25px;
    margin-left: 10px;
}
.image{
    border-color: cyan;
    border-width: 4px;
    border-style: solid;
    border-radius: 15px;
}
.colorA{
    color: yellow;
}
.HEADING{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.list{
    font-size: 22px;
}

.image1{
    height: 100px;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
}
.image2{
    height: 40px;
}
.button{
    border-color: antiquewhite;
    background-color: red;
    color: aliceblue;
}
.coloring{
    color:crimson;
    font-style: italic;
}
