/* body{
    background-color: bisque;
    
}
.mycolor{
    color: red
}
h1{
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#header{
    background-image: url('https://i.pinimg.com/736x/2a/9e/a1/2a9ea14b23a36b6ad16a23f5d39b4c05.jpg');
    background-size: 600px;
    padding: 10px;
    padding-top: 2px;
    color: antiquewhite;

}
.image{
    border-color: cyan;
    border-width: 4px;
    border-style: solid;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 200px;

}
.imagex{
    height: 100px;
}
.image1{
    height: 100px;
    border-color: white;
    background-color: white;
    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
}
.image2{
    height: 40px;
}

#italic{
    font-style: italic;
}

.list{
    font-size: 22px;
}
.colorA{
    color: yellow;
}
.fonting{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin-left: 10px;
}
.HEADING{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    clear: left;
}
.coloring{
    color:crimson;
    font-style: italic;
}
.button:hover{
    background-color: rgb(138, 0, 0);
}
.coloring:hover{
    background-color: grey;
}
.button{
    border-color: antiquewhite;
    background-color: red;
    color: aliceblue;
}
main{
    background-color: black;
    border-style: solid;
    border-radius: 15px;
    color: aliceblue;
    padding: 10px;
    clear: left;
}
.padding{
    padding-left: 10px;
}

 */

body{
    background-color: black;
    background-image: url('https://th.bing.com/th/id/R.bb387e5a1296d1cd048540c23b5633c5?rik=qoZnSIkhyOWbDA&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fBMrmUGk.jpg&ehk=6bVNzCHTgDVHpMvKIvEX167SUJl%2fq72pJPpDIdSw8Ug%3d&risl=&pid=ImgRaw&r=0');
    background-size: 500px;
    font-family: 'Balsamiq Sans', cursive;
    color: white;
}
header{
    align-items: center;
    position: -webkit-sticky;
    display: flex;
    padding: 10px;
}
.left{
    display: inline-block;
    position: absolute;
    left: 30px;
    top: 20px;
    padding-top: 20px;
}
header .left .logo{
    font-size: 40px;
    padding-top: 10px;
    padding-right: 2px;
    text-decoration: none;
    text-decoration-style: none;
    color: white;
    text-align: center;
    border: 2px solid white;
    border-radius: 15px;
}
header .left .logo:hover{
    border-color: gold;
    color: gold;
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 25px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 5px 25px;
}
.navbar li a:hover {
    text-decoration: underline ;
    color: grey;
    border: solid 2px white;
    border-radius: 15px;
}
.navbar li a:active{
    text-decoration: underline;
    color: grey;
}
.mid{
    display: block;
    width: 80%;
    margin: 5px auto;
}
.navbar li a .navLogo{
    height: 25px;
    filter: invert();
}
main{
    display: block;
    display: block;
}
.intro{
    font-size: 2.0em;
    padding-left: 45px;
}
#introd{
    text-decoration: underline;
}
.name{
    color:rgb(227, 0, 227);
}

.aboutMe{
    border: 2px solid white;
    border-radius: 20px;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 100px;
    box-sizing: border-box;
}
.aboutMe h1{
    font-size: 2.0em;
    padding-left: 30px;
}
.aboutMe p{
    padding: 0px 25px;
    font-size: 1.5em;
    padding-bottom: 20px;
}
.aboutMe:hover{
    border: 3px solid palevioletred;
    /* background-color: rgb(61, 61, 61); */
}
.photo{
    height: 200px;
    margin-left: 20px;
    border: 3px solid gray;
    border-radius: 10px;
}
.photo:hover{
    border: 3px solid cyan;
}
.loadimage{
    height: 200px;
    margin-left: 10px;
    border-radius: 10px;
}
.loadimage1{
    height: 100px;
    margin: 10px;
    border-radius: 10px;
}
.skills{
    border: 3px solid white;
    margin-top: 50px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1.5em;
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 20px;
    box-sizing: border-box;
}
.skills h1{
    margin-bottom: 10px;
    padding-left: 30px;
    font-size: 2.5em;
}

.image1{
    height: 100px;
    margin: 10px;
    background-color: white;
    border: 5px solid white;
    border-radius: 10px;
}
.image1:hover{
    border: 2px solid palevioletred;
}
.skills:hover{
    border: 3px solid palevioletred;
    color: rgb(227, 0, 227);
}
.academic{
    border: 3px solid white;
    margin-top: 50px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1.5em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2.0em;
    border-radius: 20px;
    box-sizing: border-box;
}
.academic:hover{
    border-color: palevioletred;
}
.academic h1{
    margin-bottom: 10px;
    padding-left: 30px;
    font-size: 2.5em;
}
.academic ul, .coding ul{
    text-decoration: none;
    list-style: none;
    list-style-position: initial;
    list-style-type: none;
    display: inline-block;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 70%;
}
.academic ul li{
    background-color: gray;
    border: 3px solid transparent;
    padding: 10px; 
}
.academic ul li:hover{
    border: 3px solid white;
}
.year{
    width: 200px;
}
.academic{
    background-image: url('https://www.bing.com/th/id/OGC.928e1aa5fc53b31897414d2ecf4cda5a?pid=1.7&rurl=https%3a%2f%2fcdn.dribbble.com%2fusers%2f109167%2fscreenshots%2f1792560%2fgauge_001.gif&ehk=kRJonB74ccMcV1E0OTqJWj4kmNxF1kljQSzFhMoltzw%3d');
    background-repeat: no-repeat;
    background-position-x: 25em;
    background-position-y: 10em;
    background-size: 40em;

}
.coding{
    align-items: center;
    border: 3px solid white;
    border-radius: 20px;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 50px;
    margin-bottom: 2em;
    padding-bottom: 2em;
    box-sizing: border-box;
    clear: right;
}
.coding:hover{
    border-color: palevioletred;
}
.coding h1{
    margin-bottom: 10px;
    padding-left: 30px;
    font-size: 2.5em;
}
.coding ul li button{
    height: 50px;
    background-color: white;
    width: 200px;
    border-radius: 12px;
}
.coding ul li button:hover{
    height: 51px;
    width: 210px;
    border: 3px solid palevioletred;
    border-radius: 15px;
    background-color: grey;
}
.codelogo{
    height: 30px;
    background-color: transparent;
}
.codelogo1{
    height: 20px;
}
.codelogo2{
    height: 35px;
    background-color: transparent;
}
.coding ul li button a{
    font-size: 30px;
    text-decoration: none;
    color: black;
}
.foot{
    text-decoration: underline;
    padding-left: 30px;
    box-sizing: border-box;
    margin-top: 50px;
}
.contactlogo{
    height: 30px;
}
.fill{ 
    align-items: center;
    text-decoration: none;
    list-style: none;
    list-style-position: initial;
    list-style-type: none;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 30%;
    margin-left: 0px auto;
}
.bill{
    text-decoration: none;
    list-style: none;
    list-style-position: initial;
    list-style-type: none;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 32%;
}
.github{
    filter: invert();
}
.foot ul li a{
    background-color: black;
}
.foot ul li{
    align-items: center;
    background-color: black;
    padding: 10px 10px;
    border: 2px solid transparent;
}
.foot ul li:hover{
    background-color: black;
    border: 2px solid white;
    border-radius: 7px;
}

.email{
    font-size: 20px;  
}
.email:hover{
    border: 2px solid black;
}
.email img{
    height: 15px;
}

#email1{
    margin-top: 0px;
    color: white;
}
