body{
    background-color: bisque;
    
}
.mycolor{
    color: red
}
h1{
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#header{
    background-image: url('https://i.pinimg.com/736x/2a/9e/a1/2a9ea14b23a36b6ad16a23f5d39b4c05.jpg');
    background-size: 600px;
    padding: 10px;
    padding-top: 2px;
    color: antiquewhite;
}
.image{
    border-color: cyan;
    border-width: 4px;
    border-style: solid;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 200px;
}
.imagex{
    height: 100px;
    margin-bottom: 100px;
}
.image1{
    height: 100px;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
}
.image2{
    height: 40px;
}

#italic{
    font-style: italic;
}

.list{
    font-size: 20px;
}
.colorA{
    color: yellow;
}
.fonting{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-left: 10px;
}
.HEADING{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.coloring{
    color:crimson;
    font-style: italic;
}


.button{
    border-color: antiquewhite;
    background-color: red;
    color: aliceblue;
}
main{
    background-color: black;
    border-style: solid;
    border-radius: 15px;
    color: aliceblue;
    padding: 10px;
}
.padding{
    padding-left: 10px;
}

