body{
    margin: 0;
    background-color: black;
    background-image: url('https://th.bing.com/th/id/R.bb387e5a1296d1cd048540c23b5633c5?rik=qoZnSIkhyOWbDA&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fBMrmUGk.jpg&ehk=6bVNzCHTgDVHpMvKIvEX167SUJl%2fq72pJPpDIdSw8Ug%3d&risl=&pid=ImgRaw&r=0');
    background-size: 500px;
    font-family: 'Balsamiq Sans', cursive;
    color: white;
}
header{
    align-items: center;
    position: -webkit-sticky;
    display: flex;
    padding: 10px;
    background-color: rgb(61 61 61);
}
.left{
    display: block;
    left: 30px;
    top: 20px;
    padding-left: 30px;
    padding-top: 20px;
}
header .left .logo{
    font-size: 40px;
    padding-top: 10px;
    margin-right: 5px;
    text-decoration: none;
    text-decoration-style: none;
    color: white;
    text-align: center;
    border: 2px solid white;
    border-radius: 15px;
}
.logo123{
    text-decoration: none;
    text-decoration-style: none;
}

header .left .logo:hover{
    border-color: gold;
    color: gold;
}

.menu, .menuCancel{
    height: 50px;
    filter: invert();
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
#cancel{
    display: none;
}
.navbar{
    display: inline-block;
    padding-inline-start: 10px;
}
.navbar li{
    display: inline-block;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}
.navbar li a:hover {
    text-decoration: underline ;
    color: grey;
    border: solid 2px white;
    border-radius: 15px;
}
.navbar li a:active{
    text-decoration: underline;
    color: grey;
}
.mid{
    display: inline-block;
    width: 100%;
    margin: 5px auto;
}
.navbar li a .navLogo{
    height: 25px;
    filter: invert();
}
@media(max-width:900px){
    label #btn,.menu{
        display: block;
        float: right;
        margin-right: 20px;
    }
    
    .mid ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color:rgb(61 61 80) ;
        top: 70px;
        box-sizing: border-box;
        right:-100%;
        transition: all .5s;
        text-align: center;
    }
    .mid ul li {
        display: block;
        margin: 50px 0;
        line-height: 40px;
    }
    .mid ul li a:hover{
        color: black;
        border-color: black;
        background-color: rgb(42, 152, 255);
    }
    #check:checked ~ ul{
        right: 0;
    }
    #check:checked ~ #btn{
        display: none;
    }
    #check:checked ~ #cancel,.menuCancel{
        display: block; 
        float: right;
        margin-right: 10px;
    }
    
}

main{
    display: block;
    display: block;
}
.intro{
    font-size: 2.0em;
    padding-left: 45px;
}
#introd{
    text-decoration: underline;
}
.name{
    color:rgb(227, 0, 227);
}

.aboutMe{
    border: 2px solid white;
    border-radius: 20px;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 100px;
    box-sizing: border-box;
}
.aboutMe h1{
    font-size: 2.0em;
    padding-left: 30px;
}
.aboutMe p{
    padding: 0px 25px;
    font-size: 1.5em;
    padding-bottom: 20px;
}
.aboutMe:hover{
    border: 3px solid palevioletred;
    /* background-color: rgb(61, 61, 61); */
}
.photo{
    height: 200px;
    margin-left: 20px;
    border: 3px solid gray;
    border-radius: 10px;
}
.photo:hover{
    border: 3px solid cyan;
}
.loadimage{
    height: 200px;
    margin-left: 10px;
    border-radius: 10px;
}
.loadimage1{
    width: 100px;
    margin: 10px;
    border-radius: 10px;
}
.skills{
    border: 3px solid white;
    margin-top: 50px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 20px;
    box-sizing: border-box;
}
.skills h1{
    margin-bottom: 10px;
    padding-left: 30px;
    font-size: 2.5em;
}

.image1{
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: white;
    border: 5px solid white;
    border-radius: 10px;
}
.image1:hover{
    border: 2px solid palevioletred;
}
.skills:hover{
    border: 3px solid palevioletred;
    color: rgb(227, 0, 227);
}
.academic{
    border: 3px solid white;
    margin-top: 50px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2.0em;
    border-radius: 20px;
    box-sizing: border-box;
}
.academic:hover{
    border-color: palevioletred;
}
.academic h1{
    margin-bottom: 10px;
    padding-left: 30px;
    font-size: 2.5em;
}
.academic ul, .coding ul{
    text-decoration: none;
    list-style: none;
    list-style-position: initial;
    list-style-type: none;
    width: 70%;
    box-sizing: border-box;
}

.academic ul li div{
    background-color: gray;
    border: 3px solid transparent;
    padding: 10px; 
    /* box-sizing: border-box; */
}
.academic ul li div:hover{
    border: 3px solid white;
}
.year{
    width: 200px;
}
.coding{
    align-items: center;
    border: 3px solid white;
    border-radius: 20px;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 50px;
    margin-bottom: 2em;
    padding-bottom: 2em;
    box-sizing: border-box;
    clear: right;
}
.coding:hover{
    border-color: palevioletred;
}
.coding h1{
    margin-bottom: 10px;
    padding-left: 30px;
    font-size: 2.5em;
}
.coding ul li button{
    height: 50px;
    background-color: white;
    width: 200px;
    border-radius: 12px;
}
.coding ul li button:hover{
    height: 51px;
    width: 210px;
    border: 3px solid palevioletred;
    border-radius: 15px;
    background-color: grey;
}
.codelogo{
    height: 30px;
    background-color: transparent;
}
.codelogo1{
    height: 20px;
}
.codelogo2{
    height: 35px;
    background-color: transparent;
}
.coding ul li button a{
    font-size: 30px;
    text-decoration: none;
    color: black;
}
.foot{
    text-decoration: underline;
    padding-left: 20px;
    box-sizing: border-box;
    margin-top: 50px;
}
footer h1 {
    padding: 20px;
    padding-left: 10px;
    padding-bottom: 0;
    margin: 0;
}
.contactlogo{
    height: 30px;
}
.fill{ 
    align-items: center;
    text-decoration: none;
    list-style: none;
    list-style-position: initial;
    list-style-type: none;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 35%;
    margin-left: 0px auto;
}
.bill{
    padding-inline-start:10px;
    padding-left:0;
    margin: 30px;
    list-style: none;
}
.github{
    background-color: black;
    padding: 0 5px;
    
}
.foot ul li a{
    background-color: black;
}
.foot ul li{
    align-items: center;
    background-color: black;
    padding: 10px 10px;
    border: 2px solid transparent;
}
ol li{
    width: auto;
    align-items: center;
    background-color: black;
    padding: 5px;
    display: contents;
    border: 2px solid transparent;
}
.foot ul li:hover{
    background-color: black;
    border: 2px solid white;
    border-radius: 7px;
}
ol li:hover{
    border: 2px solid white;
    border-radius: 7px;
}
ol li:hover{
    border: 2px solid white;
    border-radius: 7px;
    color: palevioletred;
}

.email{
    font-size: 20px;
    display: block;  
}

.email img{
    height: 15px;
}
#email1{
    margin-top: 0px;
    color: white;
}
#email1:hover{
    margin-top: 0px;
    color: palevioletred;
}
#last{
    color: rgb(162, 162, 162);
    float: right;
}
